footer {
	background-color: #00FF00;
	height: 60px;
	display: grid;
	grid-row: -1/4;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 1fr;
}

footer p {
	grid-column: 2/3;
	grid-row: 2/3;
}
