body {
	min-height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}