.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: grid;
	position: relative;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	border: none;
	margin-right: 30px;
	position: absolute;
	/* Position the button absolutely within the .filters section */
	top: 50%;
	/* Center vertically */
	transform: translateY(-50%);
	/* Adjust for vertical centering */
	right: 30px;
	/* 30px from the right border */


}

.filters button:hover {
	opacity: 0.9;
}