.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	align-items: center;
	display: flex;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	border: none;
	margin: 0 30px 0 auto;
}

.filters button:hover {
	opacity: 0.9;
}

.locations h3,
.locations h4,
.amenities h3,
.amenities h4 {
	margin: 0;
	/* Remove default margin for cleaner styling */
}

.locations h3,
.amenities h3 {
	font-weight: 600;
	margin: 15px 0 0 15px;

}

.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	margin-left: 0;
	position: relative;
}

.amenities {
	height: 100%;
	width: 25%;
	margin-left: -132px;
}

.locations h4,
.amenities h4 {
	margin: 0 0 0 15px;
	font-weight: 400;
	font-size: 14px;
}

.popover {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: absolute;
	width: 84%;
	left: 0;
	top: 80%;
	display: none;
}

.popover li {
	list-style-type: none;
	margin-bottom: 15px;
}

.locations:hover .popover {
	display: block;
}

.popover2 {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	top: 10%;
	display: none;
}

.popover2 li {
	list-style-type: none;
	margin-bottom: 15px;
	margin-top: 15px;
}

.amenities:hover .popover2 {
	display: block;
}