.places {
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
}

.places h1 {
	font-size: 30px;
	grid-row: 1/2;
	grid-column: 1/3;
}

.list {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

article.pat h2 {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	margin-left: 60%;
}